.btn-text{
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  font-family: bebas;
  font-size: 2em;
  line-height: 2em;
}

.btn{
  position: relative;
  top: 10px;
  width: 200px;
  height: 60px;
  background-color: red;
}

.btn::after{
  content: "";
  position: absolute;
  bottom: -20px;
  display: inline-block;
  width: 180px;
  height: 20px;
  background-color: red;
}

.btn-text::after{
  position: absolute;
  bottom: calc(2em - 80px - 2px);
  right: calc(( 100% - 200px ) / 2 );
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: red transparent transparent transparent;
}

.btn::before{
  content: "";
  position: absolute;
  top: -20px;
  left: 20px;
  display: inline-block;
  width: 180px;
  height: 20px;
  background-color: red;
}

.btn-text::before{
  position: absolute;
  top: calc(2em - 80px - 2px);
  left: calc(( 100% - 200px ) / 2);
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent red transparent;
}
