<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<head>
  <script type="text/javascript" src="{% static "Scripts\pace.js" %}"></script>
  <link rel="stylesheet" href="{% static "Styles\index.css"%}">
  <link rel="stylesheet" href="{% static "Styles\loading.css"%}">
  <link href="{% static "Styles\aos.css" %}" rel="stylesheet">
  <title>RESONANCE 2019!</title>
</head>
<body>
  <div class="overlay" id="ov">
    <div class="close" id="ovcl">╳</div>
    <div id="na"></div>
    <div id="image"></div>
    <div id="description"></div>
    <div id="entryfee"></div>
    <div id="prize"></div>
    <div id="members"></div>
    <div id="date"></div>
    <div id="starttime"></div>
    <div id="endtime"></div>
    <div id="location"></div>
  </div>
  <div class="top">
    Resonance
  </div>
  <div class="top2">
    This Year's Theme is MARVEL
    <p>Nunc nec fermentum ex, et volutpat felis. Etiam aliquet mauris augue, ut laoreet enim bibendum sit amet. Nam dolor dolor, mollis eget mollis ac, porttitor quis massa. Aliquam rutrum lacinia orci, in condimentum tellus hendrerit a.
  </div><br>
  <div class="events">
    <div class="list-head arrow">
      Intra College Events
    </div>
    <ul class="eventslist hide">
      {% for event in intra %}
      <li id="intra{{event.pk}}"><img src="{% static "Media/placeholder.png" %}">
        <p>{{event.name}}
        <p>Prize: {{event.prize}}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="events">
    <div class="list-head arrow">
      Inter College Events
    </div>
    <ul class="eventslist hide">
        {% for event in inter %}
        <li id="inter{{event.pk}}"><img src="{% static "Media/placeholder.png" %}">
          <p>{{event.name}}
          <p>Prize: {{event.prize}}
        </li>
        {% endfor %}
    </ul>
  </div><br>
  <div class="edm">
    <div class="edm-head">
      EDM Night
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et fermentum dui.
  </div>
  <div class="bottom">
    <br><br>
    Contact<br>
    Location<br>
    Info<br>
  </div>
  <script type="text/javascript" src="{% static "Scripts/resonance.js"%}"></script>
  <script src="{% static "Scripts/aos.js"%}"></script>
  <script type="text/javascript" src="{% static "Scripts/ajax.js" %}"></script>
  <div class="ft"><a href="https://aakashkhatu.github.io/resume/?">Website Made by Aakash Khatu</a></div>
  <script>
    AOS.init();
  </script>
</body>

</html>
