<!DOCTYPE html>
<html lang="en" dir="ltr">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./Styles/reg.css">
    <title></title>
  </head>
  <body>
    <div class="title">Registration
      Form
    </div>
    <form class="regis" method="post">
      <datalist id="events">
        <option value="1">
        <option value="2">
        <option value="3">
        <option value="4">
        <option value="5">
      </datalist>
      <label for="name">Name</label><br>
      <input id="name" type="text" name="name" value="Name" onclick="this.value = ''"><br>
      <label for="phnum">Phone Number</label><br>
      <input id="phnum" type="text" name="name" value="Phone Number" onclick="this.value = ''"><br>
      <label for="college"></label>College<br>
      <input id="tec" type="radio" name="college" value="TEC" onclick="radioSelect( this );" checked="checked"><label for="tec">Terna Engineering College</label><br>
      <input id="other" type="radio" name="college" value="Other" onclick="radioSelect( this );"><label for="other">Other Colleges</label><br>
      <label id="id-lab" for="id">ID</label><br>
      <input id="id" type="text" name="id" value="ID" onclick="this.value = ''"><br>
      <label id="clg-nam-lab"for="college-name" class="hide">College Name</label>
      <input id="college-name" class="hide" type="text" name="college-name" value="College" onclick="this.value = ''"><br>
      <label id="aa-lab"for="aadhar" class="hide">Aadhar Card No.</label>
      <input id="aadhar" class="hide" type="text" name="aadhar" value="aadhar" onclick="this.value = ''"><br>
      <label for="sel-event">Select Event</label>
      <input id="sel-event" list="events" onclick="this.value = ''"><br>
      <input class="sbmt" type="button" name="submit" value="Submit"><br>
    </form>
    <script type="text/javascript" src="./Scripts/reg.js"></script>
  </body>
</html>
