@import url("https://fonts.googleapis.com/css?family=Exo+2");
@font-face {
  font-family: "bebas";
  src: url("../Fonts/bebas-webfont.woff2") format("woff2"), url("../Fonts/BEBAS.ttf") format("truetype"), url("../Fonts/bebas-webfont.woff") format("woff");
  font-kerning: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #ef5350;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Exo 2";
  font-size: 1.5em;
  margin: none;
}

.title{
  position: relative;
  font-family: "bebas";
  white-space: pre-wrap;
  font-size: 2rem;
  padding-left: 1em;
}

.title::before{
  content: "";
  display: block;
  position: absolute;
  top: -40vh;
  left: -20vw;
  width: 200vw;
  height: 50vh;
  background-color: #ef5350;
  z-index: -1;
  transform: rotate(-3deg);
}

input {
  display: block;
  width: 96%;
  font-family: "Exo 2";
  padding: 10px;margin: 0 auto;
  border: none;
  background-color: #e5e5e5;
  border-radius: 2px;
  font-size: 1em;
  color: grey;
}

input[type="radio"]{
  display: inline;
  width: auto;
  margin-left: 10vw;
}

.sbmt {
  width: auto;
  font-family: "bebas";
  font-size: 1em;
  color: white;
  background-color: black;
  border: none;
  padding: 16px 32px;
  margin: 5px 20px;
  border-radius: 2rem;
  transition: background-color 0.5s;
}

.sbmt:hover, .sbmt:focus{
  background-color: green;
}

label{
  margin: 20px;
}

.hide{
  display: none;
}
